/.depend
/Makefile
/config.cache
/config.h
/config.log
/config.status
doc/arch/arch-bbox.png
doc/arch/arch-bbox.ps
doc/arch/arch-components.png
doc/arch/arch-components.ps
doc/arch/arch-externals.png
doc/arch/arch-externals.ps
doc/arch/arch.html
doc/arch/arch.ps
doc/arch/wapbox-arch.png
doc/arch/wapbox-arch.ps
doc/userguide/userguide.html
doc/userguide/userguide.ps
doc/userguide/wap-gateway.png
doc/userguide/wap-gateway.ps
gw/bb_core
gw/bearerbox
gw/smsbox
gw/wapbox
test/drive_wapbox
test/fakesmsc
test/fakewap
test/test_cimd2
test/test_counter
test/test_http
test/test_http2
test/test_http2_server
test/test_list
test/test_mem
test/test_msg
test/test_pdu
test/test_udp
test/test_urltrans
test/test_wml
test/udp_send
test/wapbox_feeder
test/wml_tester
utils/run_kannel_box
utils/seewbmp
utils/start-stop-daemon
wmlscript/wmlsc
wmlscript/wmlsdasm
