/.depend
/Makefile
benchmarks/bench_http.png
benchmarks/bench_http.ps
benchmarks/bench_sms.png
benchmarks/bench_sms.ps
benchmarks/report.html
benchmarks/report.pdf
benchmarks/report.ps
benchmarks/report.xml
checks/check_counter
checks/check_date
checks/check_ipcheck
checks/check_list
checks/check_octstr
/config.cache
/config.h
/config.log
/config.status
debian/.rules.swp
debian/files
debian/postinst.debhelper
debian/postrm.debhelper
debian/prerm.debhelper
debian/substvars
debian/tmp
doc/alligata/11-1.ps
doc/alligata/11-3.ps
doc/alligata/11-4.ps
doc/alligata/11-5.ps
doc/alligata/12-10.ps
doc/alligata/12-11.ps
doc/alligata/12-12.ps
doc/alligata/12-13.ps
doc/alligata/12-2.ps
doc/alligata/12-3.ps
doc/alligata/12-4.ps
doc/alligata/12-5.ps
doc/alligata/12-6.ps
doc/alligata/12-7.ps
doc/alligata/12-8.ps
doc/alligata/12-9.ps
doc/alligata/13-5.ps
doc/alligata/alligata.html
doc/alligata/alligata.pdf
doc/alligata/alligata.ps
doc/alligata/alligata.rtf
doc/alligata/done.ps
doc/alligata/licences.ps
doc/alligata/maininst.ps
doc/alligata/nearlydone.ps
doc/alligata/nopro.ps
doc/alligata/progress.ps
doc/alligata/wapdiagsmall.ps
doc/arch/arch.html
doc/arch/arch.pdf
doc/arch/arch.ps
doc/arch/arch.rtf
doc/arch/bearerbox-arch.png
doc/arch/bearerbox-arch.ps
doc/arch/conf-push-session.png
doc/arch/conf-push-session.ps
doc/arch/external-interfaces.png
doc/arch/external-interfaces.ps
doc/arch/kannel-boxes.png
doc/arch/kannel-boxes.ps
doc/arch/kannel-push-boxes.png
doc/arch/kannel-push-boxes.ps
doc/arch/pushbox-threads.png
doc/arch/pushbox-threads.ps
doc/arch/wap-arch.png
doc/arch/wap-arch.ps
doc/arch/wap-session.png
doc/arch/wap-session.ps
doc/arch/wapbox-threads.png
doc/arch/wapbox-threads.ps
doc/userguide/sms-gateway.png
doc/userguide/sms-gateway.ps
doc/userguide/userguide.html
doc/userguide/userguide.pdf
doc/userguide/userguide.ps
doc/userguide/userguide.rtf
doc/userguide/wap-gateway.png
doc/userguide/wap-gateway.ps
doc/wtls/fig10o.ps
doc/wtls/fig1o.ps
doc/wtls/fig2o.ps
doc/wtls/fig3o.ps
doc/wtls/fig4o.ps
doc/wtls/fig4out.ps
doc/wtls/fig5o.ps
doc/wtls/fig5out.ps
doc/wtls/fig6o.ps
doc/wtls/fig6out.ps
doc/wtls/fig6out1.ps
doc/wtls/fig7o.ps
doc/wtls/fig8o.ps
doc/wtls/fig9o.ps
doc/wtls/wtls.html
doc/wtls/wtls.pdf
doc/wtls/wtls.ps
doc/wtls/wtls.rtf
gw/bb_core
gw/bearerbox
gw/smsbox
gw/wapbox
test/decompile
test/drive_smpp
test/drive_wapbox
test/fakesmsc
test/fakewap
test/test_cfg
test/test_cimd2
test/test_counter
test/test_dict
test/test_headers
test/test_http
test/test_http_server
test/test_list
test/test_mem
test/test_mime
test/test_msg
test/test_octstr_format
test/test_octstr_immutables
test/test_ota
test/test_paptest_xmlrpc
test/test_pdu
test/test_ppg
test/test_si
test/test_sl
test/test_smsc
test/test_udp
test/test_urltrans
test/test_wakeup
test/test_wml
test/timestamp
test/udp_send
test/udpfeed
test/wapbox_feeder
test/wml_tester
utils/run_kannel_box
utils/seewbmp
utils/start-stop-daemon
wmlscript/wmlsc
wmlscript/wmlsdasm
