* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.in -text
/NEWS -text
/README -text
/README.autoconf -text
/README.docbook -text
/README.src -text
/README.wmlscript -text
/Release-0.1 -text
/Release-0.2 -text
/Release-0.2.2 -text
/Rules.mk -text
/VERSION -text
/acconfig.h -text
/config.h.bot -text
/config.h.in -text
/config.h.top -text
/configure -text
/configure.in -text
doc/CodingStyle -text
doc/TESTCASES -text
doc/arch/arch-bbox.fig -text
doc/arch/arch-bearerbox.xml -text
doc/arch/arch-components.fig -text
doc/arch/arch-externalinterfaces.xml -text
doc/arch/arch-externals.fig -text
doc/arch/arch-intercomponent.xml -text
doc/arch/arch-internals.xml -text
doc/arch/arch-requirements.xml -text
doc/arch/arch-smsbox.xml -text
doc/arch/arch-wapbox.xml -text
doc/arch/arch.xml -text
doc/dialup.txt -text
doc/fakewap-packets.txt -text
doc/release.txt -text
doc/userguide/userguide.xml -text
gw/alt_charsets.h -text
gw/bb.h -text
gw/bb_msg.c -text
gw/bb_msg.h -text
gw/bearerbox.c -text
gw/bearerbox.conf -text
gw/boxc.c -text
gw/boxc.h -text
gw/cgi.c -text
gw/cgi.h -text
gw/control.html -text
gw/csdr.c -text
gw/csdr.h -text
gw/html.c -text
gw/html.h -text
gw/msg-decl.h -text
gw/msg.c -text
gw/msg.h -text
gw/sms_msg.c -text
gw/sms_msg.h -text
gw/smsbox.c -text
gw/smsbox.smsconf -text
gw/smsbox_req.c -text
gw/smsbox_req.h -text
gw/smsc.c -text
gw/smsc.h -text
gw/smsc_cimd.c -text
gw/smsc_emi.c -text
gw/smsc_fake.c -text
gw/smsc_interface.def -text
gw/smsc_p.h -text
gw/smsc_smpp.c -text
gw/smsc_smpp.h -text
gw/urltrans.c -text
gw/urltrans.h -text
gw/wapbox.c -text
gw/wapbox.h -text
gw/wapbox.wapconf -text
gw/wml.c -text
gw/wml.h -text
gw/wsp.c -text
gw/wsp.h -text
gw/wsp_events-decl.h -text
gw/wsp_machine-decl.h -text
gw/wsp_state-decl.h -text
gw/wtp.c -text
gw/wtp.h -text
gw/wtp_events-decl.h -text
gw/wtp_machine-decl.h -text
gw/wtp_send.c -text
gw/wtp_send.h -text
gw/wtp_state-decl.h -text
gw/wtp_timer.c -text
gw/wtp_timer.h -text
gwlib/conffile.c -text
gwlib/conffile.h -text
gwlib/getnameinfo.h -text
gwlib/gwlib.h -text
gwlib/gwmem.c -text
gwlib/gwmem.h -text
gwlib/gwstdint.h -text
gwlib/gwstr.c -text
gwlib/gwstr.h -text
gwlib/http.c -text
gwlib/http.h -text
gwlib/log.c -text
gwlib/log.h -text
gwlib/octstr.c -text
gwlib/octstr.h -text
gwlib/socket.c -text
gwlib/socket.h -text
gwlib/thread.c -text
gwlib/thread.h -text
gwlib/utils.c -text
gwlib/utils.h -text
/install-sh -text
/missing -text
/mkinstalldirs -text
/stamp-h.in -text
test/chartest.html -text
test/fake.conf -text
test/fakesmsc.c -text
test/fakewap.c -text
test/html-test-1 -text
test/simple.smsconf -text
test/test_msg.c -text
test/test_wml.c -text
test/udp_send.c -text
test/wapbox_feeder.c -text
utils/OTAbitmap.c -text
utils/OTAbitmap.h -text
utils/makedist -text
utils/pixmapgen.pl -text
utils/wbmp.c -text
utils/wbmp.h -text
wmlscript/lexer.txt -text
wmlscript/make-op-table.in -text
wmlscript/wmlsc.c -text
wmlscript/ws.c -text
wmlscript/ws.h -text
wmlscript/wsalloc.c -text
wmlscript/wsalloc.h -text
wmlscript/wsasm.c -text
wmlscript/wsasm.h -text
wmlscript/wsbc.c -text
wmlscript/wsbc.h -text
wmlscript/wsbuffer.c -text
wmlscript/wsbuffer.h -text
wmlscript/wsencode.c -text
wmlscript/wsencode.h -text
wmlscript/wserror.c -text
wmlscript/wserror.h -text
wmlscript/wsfalloc.c -text
wmlscript/wsfalloc.h -text
wmlscript/wsgram.y -text
wmlscript/wshash.c -text
wmlscript/wshash.h -text
wmlscript/wsint.h -text
wmlscript/wslexer.c -text
wmlscript/wsopcodes.h -text
wmlscript/wsopt.c -text
wmlscript/wsopt.h -text
wmlscript/wsstdlib.c -text
wmlscript/wsstdlib.h -text
wmlscript/wsstream.c -text
wmlscript/wsstream.h -text
wmlscript/wsstream_data.c -text
wmlscript/wsstream_file.c -text
wmlscript/wsstree.c -text
wmlscript/wsstree.h -text
wmlscript/wsutf8.c -text
wmlscript/wsutf8.h -text
