* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.in -text
/NEWS -text
/README -text
/VERSION -text
checks/check_counter.c -text
checks/check_date.c -text
checks/check_fakesmsc.sh -text
checks/check_fakewap.sh -text
checks/check_headers.sh -text
checks/check_http.sh -text
checks/check_list.c -text
checks/check_octstr.c -text
checks/check_sendsms.sh -text
checks/test_dates -text
/config.h.in -text
/configure -text
/configure.in -text
contrib/fortune.cgi -text
contrib/html2wml.pl -text
contrib/php-admin/README -text
contrib/php-admin/admin.php -text
contrib/php-admin/config.inc -text
contrib/php-admin/functions.inc -text
contrib/php-admin/index.html -text
contrib/php-admin/sendota.php -text
contrib/php-admin/sendsms.php -text
contrib/php-admin/sendvcard.php -text
contrib/ping.cgi -text
contrib/sendsms -text
contrib/smstomail.cgi -text
debian/changelog -text
debian/conffiles -text
debian/control -text
debian/copyright -text
debian/docs -text
debian/init -text
debian/kannel.conf -text
debian/postinst -text
debian/postrm -text
debian/rules -text
doc/CodingStyle -text
doc/TESTCASES -text
doc/arch/arch-bbox.fig -text
doc/arch/arch-bearerbox.xml -text
doc/arch/arch-bib.xml -text
doc/arch/arch-components.fig -text
doc/arch/arch-externalinterfaces.xml -text
doc/arch/arch-externals.fig -text
doc/arch/arch-intercomponent.xml -text
doc/arch/arch-internals.xml -text
doc/arch/arch-requirements.xml -text
doc/arch/arch-smsbox.xml -text
doc/arch/arch-wapbox.xml -text
doc/arch/arch.xml -text
doc/arch/wapbox-arch.fig -text
doc/dialup.txt -text
doc/fakewap-packets.txt -text
doc/release.txt -text
doc/userguide/sms-gateway.fig -text
doc/userguide/userguide.xml -text
doc/userguide/wap-gateway.fig -text
gw/alt_charsets.h -text
gw/bb.h -text
gw/bb_boxc.c -text
gw/bb_http.c -text
gw/bb_smsc.c -text
gw/bb_smscconn_cb.c -text
gw/bb_smscconn_cb.h -text
gw/bb_udp.c -text
gw/bearerbox.c -text
gw/bearerbox.h -text
gw/control.html -text
gw/heartbeat.c -text
gw/heartbeat.h -text
gw/html.c -text
gw/html.h -text
gw/kannel.8 -text
gw/msg-decl.h -text
gw/msg.c -text
gw/msg.h -text
gw/numhash.c -text
gw/numhash.h -text
gw/shared.c -text
gw/shared.h -text
gw/smsbox.c -text
gw/smsc.c -text
gw/smsc.h -text
gw/smsc_at.c -text
gw/smsc_cimd.c -text
gw/smsc_cimd2.c -text
gw/smsc_emi.c -text
gw/smsc_fake.c -text
gw/smsc_interface.def -text
gw/smsc_ois.c -text
gw/smsc_p.h -text
gw/smsc_sema.c -text
gw/smsc_sema.h -text
gw/smsc_smpp.c -text
gw/smsc_smpp.h -text
gw/smsc_wrapper.c -text
gw/smscconn.c -text
gw/smscconn.h -text
gw/smscconn_p.h -text
gw/smskannel.conf -text
gw/urltrans.c -text
gw/urltrans.h -text
gw/utf8map_iso8859-7.h -text
gw/utf8map_koi8r.h -text
gw/utf8map_win1251.h -text
gw/utf8map_win1253.h -text
gw/utf8map_win1257.h -text
gw/wap-appl.c -text
gw/wap-appl.h -text
gw/wap_push_ota.c -text
gw/wap_push_ota.h -text
gw/wapbox.c -text
gw/wapkannel.conf -text
gw/wml_compiler.c -text
gw/wml_compiler.h -text
gw/wml_definitions.h -text
gwlib/accesslog.c -text
gwlib/accesslog.h -text
gwlib/charset.c -text
gwlib/charset.h -text
gwlib/conffile.c -text
gwlib/conffile.h -text
gwlib/conn.c -text
gwlib/conn.h -text
gwlib/counter.c -text
gwlib/counter.h -text
gwlib/date.c -text
gwlib/date.h -text
gwlib/dict.c -text
gwlib/dict.h -text
gwlib/fdset.c -text
gwlib/fdset.h -text
gwlib/gw-getopt.h -text
gwlib/gwassert.h -text
gwlib/gwlib.c -text
gwlib/gwlib.h -text
gwlib/gwmem-check.c -text
gwlib/gwmem-native.c -text
gwlib/gwmem.h -text
gwlib/gwpoll.c -text
gwlib/gwpoll.h -text
gwlib/gwthread-pthread.c -text
gwlib/gwthread.h -text
gwlib/http.c -text
gwlib/http.h -text
gwlib/list.c -text
gwlib/list.h -text
gwlib/log.c -text
gwlib/log.h -text
gwlib/octstr.c -text
gwlib/octstr.h -text
gwlib/parse.c -text
gwlib/parse.h -text
gwlib/protected.c -text
gwlib/protected.h -text
gwlib/socket.c -text
gwlib/socket.h -text
gwlib/thread.c -text
gwlib/thread.h -text
gwlib/utils.c -text
gwlib/utils.h -text
/install-sh -text
/missing -text
/mkinstalldirs -text
solaris/copyright -text
solaris/etc/kannel.conf -text
solaris/mk-solaris-package.sh -text
solaris/pkginfo -text
solaris/prototype -text
solaris/readme.txt -text
test/chartest.html -text
test/decompile.c -text
test/decompile.h -text
test/drive_wapbox.c -text
test/fake.conf -text
test/fakesmsc.c -text
test/fakewap.c -text
test/header_test -text
test/html-test-1 -text
test/http2-test-urls -text
test/run-http2-tests -text
test/test_cimd2.c -text
test/test_dict.c -text
test/test_headers.c -text
test/test_http.c -text
test/test_http_server.c -text
test/test_mem.c -text
test/test_msg.c -text
test/test_octstr_format.c -text
test/test_octstr_immutables.c -text
test/test_pdu.c -text
test/test_udp.c -text
test/test_urltrans.c -text
test/test_wakeup.c -text
test/udpfeed.c -text
test/wml_tester.c -text
utils/OTAbitmap.c -text
utils/OTAbitmap.h -text
utils/attgetopt.c -text
utils/changelog-report -text
utils/daily-patch -text
utils/find-long-lines -text
utils/kannel-init.d -text
utils/kannel-log-summary -text
utils/kannel-nag -text
utils/kannel-redhat.init.d -text
utils/makedist -text
utils/pixmapgen.pl -text
utils/run-checks -text
utils/run_kannel_box.8 -text
utils/run_kannel_box.c -text
utils/seewbmp.1 -text
utils/seewbmp.c -text
utils/source-stats -text
utils/start-stop-daemon.8 -text
utils/start-stop-daemon.c -text
utils/utf8map.pl -text
utils/wbmp.c -text
utils/wbmp.h -text
utils/win1257unicode.txt -text
wap/cookies.c -text
wap/cookies.h -text
wap/timers.c -text
wap/timers.h -text
wap/wap.c -text
wap/wap.h -text
wap/wap_addr.c -text
wap/wap_addr.h -text
wap/wap_events.c -text
wap/wap_events.def -text
wap/wap_events.h -text
wap/wsp.c -text
wap/wsp.h -text
wap/wsp_caps.c -text
wap/wsp_caps.h -text
wap/wsp_headers.c -text
wap/wsp_headers.h -text
wap/wsp_pdu.c -text
wap/wsp_pdu.def -text
wap/wsp_pdu.h -text
wap/wsp_push_client.c -text
wap/wsp_push_client.h -text
wap/wsp_push_client_machine.def -text
wap/wsp_push_client_states.def -text
wap/wsp_server_method_machine.def -text
wap/wsp_server_method_states.def -text
wap/wsp_server_push_machine.def -text
wap/wsp_server_push_states.def -text
wap/wsp_server_session_machine.def -text
wap/wsp_server_session_states.def -text
wap/wsp_session.c -text
wap/wsp_strings.c -text
wap/wsp_strings.def -text
wap/wsp_strings.h -text
wap/wsp_unit.c -text
wap/wtp.c -text
wap/wtp.h -text
wap/wtp_init.c -text
wap/wtp_init.h -text
wap/wtp_init_machine.def -text
wap/wtp_init_states.def -text
wap/wtp_pack.c -text
wap/wtp_pack.h -text
wap/wtp_pdu.c -text
wap/wtp_pdu.def -text
wap/wtp_pdu.h -text
wap/wtp_resp.c -text
wap/wtp_resp.h -text
wap/wtp_resp_machine.def -text
wap/wtp_resp_states.def -text
wap/wtp_tid.c -text
wap/wtp_tid.h -text
wmlscript/lexer.txt -text
wmlscript/make-op-table.in -text
wmlscript/wmlsc.1 -text
wmlscript/wmlsc.c -text
wmlscript/wmlsdasm.1 -text
wmlscript/wmlsdasm.c -text
wmlscript/ws.c -text
wmlscript/ws.h -text
wmlscript/wsalloc.c -text
wmlscript/wsalloc.h -text
wmlscript/wsasm.c -text
wmlscript/wsasm.h -text
wmlscript/wsbc.c -text
wmlscript/wsbc.h -text
wmlscript/wsbuffer.c -text
wmlscript/wsbuffer.h -text
wmlscript/wsencode.c -text
wmlscript/wsencode.h -text
wmlscript/wserror.c -text
wmlscript/wserror.h -text
wmlscript/wsfalloc.c -text
wmlscript/wsfalloc.h -text
wmlscript/wsgram.c -text
wmlscript/wsgram.h -text
wmlscript/wsgram.y -text
wmlscript/wshash.c -text
wmlscript/wshash.h -text
wmlscript/wsieee754.c -text
wmlscript/wsieee754.h -text
wmlscript/wsint.h -text
wmlscript/wslexer.c -text
wmlscript/wsopcodes.h -text
wmlscript/wsopt.c -text
wmlscript/wsopt.h -text
wmlscript/wsstdlib.c -text
wmlscript/wsstdlib.h -text
wmlscript/wsstream.c -text
wmlscript/wsstream.h -text
wmlscript/wsstream_data.c -text
wmlscript/wsstream_file.c -text
wmlscript/wsstree.c -text
wmlscript/wsstree.h -text
wmlscript/wsutf8.c -text
wmlscript/wsutf8.h -text
