/.depend
/Makefile
checks/check_counter
checks/check_date
checks/check_list
checks/check_octstr
/config.cache
/config.h
/config.log
/config.status
doc/arch/arch.html
doc/arch/arch.pdf
doc/arch/arch.ps
doc/arch/bearerbox-arch.png
doc/arch/bearerbox-arch.ps
doc/arch/external-interfaces.png
doc/arch/external-interfaces.ps
doc/arch/kannel-boxes.png
doc/arch/kannel-boxes.ps
doc/arch/wap-arch.png
doc/arch/wap-arch.ps
doc/arch/wap-session.png
doc/arch/wap-session.ps
doc/arch/wapbox-threads.png
doc/arch/wapbox-threads.ps
doc/userguide/sms-gateway.png
doc/userguide/sms-gateway.ps
doc/userguide/userguide.html
doc/userguide/userguide.pdf
doc/userguide/userguide.ps
doc/userguide/wap-gateway.png
doc/userguide/wap-gateway.ps
gw/bb_core
gw/bearerbox
gw/smsbox
gw/wapbox
test/decompile
test/drive_smpp
test/drive_wapbox
test/fakesmsc
test/fakesmsc2
test/fakewap
test/test_cimd2
test/test_counter
test/test_dict
test/test_headers
test/test_http
test/test_http_server
test/test_list
test/test_mem
test/test_msg
test/test_octstr_format
test/test_octstr_immutables
test/test_pdu
test/test_udp
test/test_urltrans
test/test_wakeup
test/test_wml
test/udp_send
test/udpfeed
test/wapbox_feeder
test/wml_tester
utils/run_kannel_box
utils/seewbmp
utils/start-stop-daemon
wmlscript/wmlsc
wmlscript/wmlsdasm
