* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/LICENSE -text
/Makefile.in -text
/NEWS -text
/README -text
/STATUS -text
/VERSION -text
/aclocal.m4 -text
benchmarks/bench_http.sh -text
benchmarks/bench_http.txt -text
benchmarks/bench_sms.conf -text
benchmarks/bench_sms.sh -text
benchmarks/bench_sms.txt -text
benchmarks/functions.inc -text
benchmarks/report-begin.txt -text
benchmarks/report-end.txt -text
benchmarks/run-benchmarks -text
checks/check_compiler.sh -text
checks/check_counter.c -text
checks/check_date.c -text
checks/check_fakesmsc.sh -text
checks/check_fakewap.sh -text
checks/check_headers.sh -text
checks/check_http.sh -text
checks/check_httpsmsc_kannel.sh -text
checks/check_ipcheck.c -text
checks/check_list.c -text
checks/check_octstr.c -text
checks/check_ppg.sh -text
checks/check_sendsms.sh -text
checks/check_smpp.sh -text
checks/test_dates -text
/config.guess -text
/config.sub -text
/configure -text
/configure.in -text
contrib/fortune.cgi -text
contrib/html2wml.pl -text
contrib/kannel-monitor/index.php -text
contrib/kannel-monitor/kannel.css -text
contrib/kannel-monitor/kannel.js -text
contrib/kannel-monitor/xmlfunc.php -text
contrib/mon/README -text
contrib/mon/kannel.monitor -text
contrib/php-admin/README -text
contrib/php-admin/admin.php -text
contrib/php-admin/config.inc -text
contrib/php-admin/functions.inc -text
contrib/php-admin/index.html -text
contrib/php-admin/sendota.php -text
contrib/php-admin/sendsms.php -text
contrib/php-admin/sendvcard.php -text
contrib/ping.cgi -text
contrib/sendsms -text
contrib/smstomail.cgi -text
contrib/web/form.php -text
contrib/web/index.html -text
contrib/web/menu.html -text
contrib/web/sendsms.php -text
contrib/webalizer/ReadMe -text
contrib/webalizer/converte.pl -text
contrib/webalizer/multi-line.pl -text
contrib/webalizer/split.pl -text
contrib/webalizer/stats.sh -text
contrib/webalizer/webalizer.conf -text
debian/changelog -text
debian/changelog.devel -text
debian/changelog.stable -text
debian/compat -text
debian/control -text
debian/control.devel -text
debian/control.stable -text
debian/copyright -text
debian/kannel-cvs-docs.docs -text
debian/kannel-cvs-extras.install -text
debian/kannel-cvs.default -text
debian/kannel-cvs.dirs -text
debian/kannel-cvs.docs -text
debian/kannel-cvs.examples -text
debian/kannel-cvs.init -text
debian/kannel-cvs.install -text
debian/kannel-cvs.links -text
debian/kannel-cvs.logrotate -text
debian/kannel-cvs.postinst -text
debian/kannel-cvs.postrm -text
debian/kannel-devel-docs.docs -text
debian/kannel-devel-extras.install -text
debian/kannel-devel.default -text
debian/kannel-devel.dirs -text
debian/kannel-devel.docs -text
debian/kannel-devel.examples -text
debian/kannel-devel.init -text
debian/kannel-devel.install -text
debian/kannel-devel.links -text
debian/kannel-devel.logrotate -text
debian/kannel-devel.postinst -text
debian/kannel-devel.postrm -text
debian/kannel-docs.docs -text
debian/kannel-extras.install -text
debian/kannel.conf -text
debian/kannel.default -text
debian/kannel.dirs -text
debian/kannel.docs -text
debian/kannel.examples -text
debian/kannel.init -text
debian/kannel.install -text
debian/kannel.links -text
debian/kannel.logrotate -text
debian/kannel.postinst -text
debian/kannel.postrm -text
debian/rules -text
doc/ChangeLog-0.13.1 -text
doc/ChangeLog-1.1 -text
doc/ChangeLog-1.1.1 -text
doc/ChangeLog-1.1.2 -text
doc/ChangeLog-1.1.3 -text
doc/ChangeLog-1.1.4 -text
doc/ChangeLog-1.1.5 -text
doc/ChangeLog-1.1.6 -text
doc/ChangeLog-1.2.0 -text
doc/ChangeLog-1.2.1 -text
doc/ChangeLog-1.3.0 -text
doc/ChangeLog-1.3.1 -text
doc/ChangeLog-1.3.2 -text
doc/ChangeLog-1.4.0 -text
doc/CodingStyle -text
doc/alligata/11-1.png -text svneol=unset#unset
doc/alligata/11-3.png -text svneol=unset#unset
doc/alligata/11-4.png -text svneol=unset#unset
doc/alligata/11-5.png -text svneol=unset#unset
doc/alligata/12-10.png -text svneol=unset#unset
doc/alligata/12-11.png -text svneol=unset#unset
doc/alligata/12-12.png -text svneol=unset#unset
doc/alligata/12-13.png -text svneol=unset#unset
doc/alligata/12-2.png -text svneol=unset#unset
doc/alligata/12-3.png -text svneol=unset#unset
doc/alligata/12-4.png -text svneol=unset#unset
doc/alligata/12-5.png -text svneol=unset#unset
doc/alligata/12-6.png -text svneol=unset#unset
doc/alligata/12-7.png -text svneol=unset#unset
doc/alligata/12-8.png -text svneol=unset#unset
doc/alligata/12-9.png -text svneol=unset#unset
doc/alligata/13-5.png -text svneol=unset#unset
doc/alligata/alligata.xml -text
doc/alligata/done.png -text svneol=unset#unset
doc/alligata/licences.png -text svneol=unset#unset
doc/alligata/maininst.png -text svneol=unset#unset
doc/alligata/nearlydone.png -text svneol=unset#unset
doc/alligata/nopro.png -text svneol=unset#unset
doc/alligata/progress.png -text svneol=unset#unset
doc/alligata/wapdiagsmall.png -text svneol=unset#unset
doc/arch/arch.xml -text
doc/arch/bearerbox-arch.fig -text
doc/arch/conf-push-session.fig -text
doc/arch/external-interfaces.fig -text
doc/arch/kannel-boxes.fig -text
doc/arch/kannel-push-boxes.fig -text
doc/arch/pushbox-threads.fig -text
doc/arch/wap-arch.fig -text
doc/arch/wap-session.fig -text
doc/arch/wapbox-threads.fig -text
doc/dialup.txt -text
doc/examples/dlr-mysql.conf -text
doc/examples/dlr-oracle.conf -text
doc/examples/dlr-sdb.conf -text
doc/examples/kannel.conf -text
doc/examples/modems.conf -text
doc/fakewap-packets.txt -text
doc/release.txt -text
doc/userguide/sms-gateway.fig -text
doc/userguide/userguide.xml -text
doc/userguide/wap-gateway.fig -text
doc/wtls/fig10o.png -text svneol=unset#unset
doc/wtls/fig1o.png -text svneol=unset#unset
doc/wtls/fig2o.png -text svneol=unset#unset
doc/wtls/fig3o.png -text svneol=unset#unset
doc/wtls/fig4o.png -text svneol=unset#unset
doc/wtls/fig4out.png -text svneol=unset#unset
doc/wtls/fig5o.png -text svneol=unset#unset
doc/wtls/fig5out.png -text svneol=unset#unset
doc/wtls/fig6o.png -text svneol=unset#unset
doc/wtls/fig6out.png -text svneol=unset#unset
doc/wtls/fig6out1.png -text svneol=unset#unset
doc/wtls/fig7o.png -text svneol=unset#unset
doc/wtls/fig8o.png -text svneol=unset#unset
doc/wtls/fig9o.png -text svneol=unset#unset
doc/wtls/wtls.xml -text
/gw-config.h.in -text
gw/alt_charsets.h -text
gw/bb.h -text
gw/bb_alog.c -text
gw/bb_boxc.c -text
gw/bb_http.c -text
gw/bb_smscconn.c -text
gw/bb_smscconn_cb.h -text
gw/bb_store.c -text
gw/bb_udp.c -text
gw/bearerbox.c -text
gw/bearerbox.h -text
gw/cert.pem -text
gw/control.html -text
gw/dlr.c -text
gw/dlr.h -text
gw/dlr_mem.c -text
gw/dlr_mysql.c -text
gw/dlr_oracle.c -text
gw/dlr_p.h -text
gw/dlr_pgsql.c -text
gw/dlr_sdb.c -text
gw/heartbeat.c -text
gw/heartbeat.h -text
gw/html.c -text
gw/html.h -text
gw/kannel.8 -text
gw/key.pem -text
gw/mime_decompiler.c -text
gw/mime_decompiler.h -text
gw/msg-decl.h -text
gw/msg.c -text
gw/msg.h -text
gw/numhash.c -text
gw/numhash.h -text
gw/ota_compiler.c -text
gw/ota_compiler.h -text
gw/ota_prov.c -text
gw/ota_prov.h -text
gw/ota_prov_attr.h -text
gw/other_smskannel.conf -text
gw/pushkannel.conf -text
gw/settings.dtd -text
gw/shared.c -text
gw/shared.h -text
gw/sms.c -text
gw/sms.h -text
gw/smsbox.c -text
gw/smsc/emimsg.c -text
gw/smsc/emimsg.h -text
gw/smsc/smasi_pdu.c -text
gw/smsc/smasi_pdu.def -text
gw/smsc/smasi_pdu.h -text
gw/smsc/smpp_pdu.c -text
gw/smsc/smpp_pdu.def -text
gw/smsc/smpp_pdu.h -text
gw/smsc/smpp_pdu_opt.def -text
gw/smsc/smsc.c -text
gw/smsc/smsc.h -text
gw/smsc/smsc_at.c -text
gw/smsc/smsc_at.h -text
gw/smsc/smsc_cgw.c -text
gw/smsc/smsc_cimd.c -text
gw/smsc/smsc_cimd2.c -text
gw/smsc/smsc_emi.c -text
gw/smsc/smsc_emi_x25.c -text
gw/smsc/smsc_fake.c -text
gw/smsc/smsc_http.c -text
gw/smsc/smsc_ois.c -text
gw/smsc/smsc_oisd.c -text
gw/smsc/smsc_p.h -text
gw/smsc/smsc_sema.c -text
gw/smsc/smsc_sema.h -text
gw/smsc/smsc_smasi.c -text
gw/smsc/smsc_smpp.c -text
gw/smsc/smsc_soap.c -text
gw/smsc/smsc_wrapper.c -text
gw/smscconn.c -text
gw/smscconn.h -text
gw/smscconn_p.h -text
gw/smskannel-ssl.conf -text
gw/smskannel.conf -text
gw/urltrans.c -text
gw/urltrans.h -text
gw/wap-appl.c -text
gw/wap-appl.h -text
gw/wap-error.c -text
gw/wap-error.h -text
gw/wap-maps.c -text
gw/wap-maps.h -text
gw/wap_ppg_push_machine.def -text
gw/wap_ppg_session_machine.def -text
gw/wap_push_ota.c -text
gw/wap_push_ota.h -text
gw/wap_push_pap_compiler.c -text
gw/wap_push_pap_compiler.h -text
gw/wap_push_pap_mime.c -text
gw/wap_push_pap_mime.h -text
gw/wap_push_ppg.c -text
gw/wap_push_ppg.h -text
gw/wap_push_ppg_pushuser.c -text
gw/wap_push_ppg_pushuser.h -text
gw/wap_push_si_compiler.c -text
gw/wap_push_si_compiler.h -text
gw/wap_push_sl_compiler.c -text
gw/wap_push_sl_compiler.h -text
gw/wapbox.c -text
gw/wapkannel.conf -text
gw/wml_compiler.c -text
gw/wml_compiler.h -text
gw/wml_definitions.h -text
gw/xml_definitions.h -text
gw/xml_shared.c -text
gw/xml_shared.h -text
gwlib/accesslog.c -text
gwlib/accesslog.h -text
gwlib/cfg.c -text
gwlib/cfg.def -text
gwlib/cfg.h -text
gwlib/charset.c -text
gwlib/charset.h -text
gwlib/conn.c -text
gwlib/conn.h -text
gwlib/counter.c -text
gwlib/counter.h -text
gwlib/date.c -text
gwlib/date.h -text
gwlib/dbpool.c -text
gwlib/dbpool.h -text
gwlib/dbpool_mysql.c -text
gwlib/dbpool_oracle.c -text
gwlib/dbpool_p.h -text
gwlib/dbpool_pgsql.c -text
gwlib/dbpool_sdb.c -text
gwlib/dbpool_sqlite.c -text
gwlib/dict.c -text
gwlib/dict.h -text
gwlib/fdset.c -text
gwlib/fdset.h -text
gwlib/gw-getopt.h -text
gwlib/gw-prioqueue.c -text
gwlib/gw-prioqueue.h -text
gwlib/gw-rwlock.c -text
gwlib/gw-rwlock.h -text
gwlib/gw_uuid.c -text
gwlib/gw_uuid.h -text
gwlib/gw_uuid_types.h.in -text
gwlib/gwassert.h -text
gwlib/gwlib.c -text
gwlib/gwlib.h -text
gwlib/gwmem-check.c -text
gwlib/gwmem-native.c -text
gwlib/gwmem.h -text
gwlib/gwpoll.c -text
gwlib/gwpoll.h -text
gwlib/gwthread-pthread.c -text
gwlib/gwthread.h -text
gwlib/html-entities.def -text
gwlib/http.c -text
gwlib/http.h -text
gwlib/list.c -text
gwlib/list.h -text
gwlib/log.c -text
gwlib/log.h -text
gwlib/md5.c -text
gwlib/md5.h -text
gwlib/mime.c -text
gwlib/mime.h -text
gwlib/octstr.c -text
gwlib/octstr.c.debug -text
gwlib/octstr.h -text
gwlib/octstr.h.debug -text
gwlib/parse.c -text
gwlib/parse.h -text
gwlib/pcre.c -text
gwlib/pcre.h -text
gwlib/pki.c -text
gwlib/pki.h -text
gwlib/protected.c -text
gwlib/protected.h -text
gwlib/regex.c -text
gwlib/regex.h -text
gwlib/semaphore.c -text
gwlib/semaphore.h -text
gwlib/socket.c -text
gwlib/socket.h -text
gwlib/ssl.c -text
gwlib/ssl.h -text
gwlib/thread.c -text
gwlib/thread.h -text
gwlib/utils.c -text
gwlib/utils.h -text
gwlib/xmlrpc.c -text
gwlib/xmlrpc.h -text
/install-sh -text
/missing -text
/mkinstalldirs -text
radius/radius_acct.c -text
radius/radius_acct.h -text
radius/radius_attributes.def -text
radius/radius_pdu.c -text
radius/radius_pdu.def -text
radius/radius_pdu.h -text
solaris/copyright -text
solaris/etc/kannel.conf -text
solaris/mk-solaris-package.sh -text
solaris/pkginfo.tmpl -text
solaris/prototype.tmpl -text
solaris/readme.txt -text
test/blacklist.txt -text
test/bookmark.txt -text
test/chartest.html -text
test/decompile.c -text
test/decompile.h -text
test/dlr-receiver.py -text
test/drive_smpp.c -text
test/drive_smpp.conf -text
test/drive_wapbox.c -text
test/fakesmsc.c -text
test/fakewap.c -text
test/header_test -text
test/hello.wml -text
test/html-test-1 -text
test/http2-test-urls -text
test/iptestppg.txt -text
test/mime-multipart.txt -text
test/run-http2-tests.sh -text
test/settings4.txt -text
test/si.txt -text
test/sl.txt -text
test/smstestppg.txt -text
test/test_boxc.c -text
test/test_cfg.c -text
test/test_cimd2.c -text
test/test_dbpool.c -text
test/test_dict.c -text
test/test_headers.c -text
test/test_http.c -text
test/test_http_server.c -text
test/test_md5.c -text
test/test_mem.c -text
test/test_mime.c -text
test/test_mime_multipart.c -text
test/test_msg.c -text
test/test_octstr_dump.c -text
test/test_octstr_format.c -text
test/test_octstr_immutables.c -text
test/test_ota.c -text
test/test_pap.c -text
test/test_pcre.c -text
test/test_pdu.c -text
test/test_ppg.c -text
test/test_prioqueue.c -text
test/test_radius_acct.c -text
test/test_radius_pdu.c -text
test/test_regex.c -text
test/test_si.c -text
test/test_sl.c -text
test/test_smsc.c -text
test/test_udp.c -text
test/test_urltrans.c -text
test/test_uuid.c -text
test/test_wakeup.c -text
test/test_xmlrpc.c -text
test/testcase.wml -text
test/timestamp.c -text
test/udpfeed.c -text
test/wapproxy.c -text
test/whitelist.txt -text
test/wml_tester.c -text
utils/OTAbitmap.c -text
utils/OTAbitmap.h -text
utils/accesslog_parser.pl -text
utils/attgetopt.c -text
utils/build-cygwin-package -text
utils/changelog-report -text
utils/chlog-stats -text
utils/daily-patch -text
utils/find-long-lines -text
utils/foobar-config.sh -text
utils/kannel-init.d -text
utils/kannel-log-summary -text
utils/kannel-nag -text
utils/kannel-redhat.init.d -text
utils/kannel-stable-rh6x.spec -text
utils/kannel-stable-rh7.spec -text
utils/makedist -text
utils/mtbatch.1 -text
utils/mtbatch.c -text
utils/pixmapgen.pl -text
utils/run-checks -text
utils/run_kannel_box.8 -text
utils/run_kannel_box.c -text
utils/seewbmp.1 -text
utils/seewbmp.c -text
utils/source-stats -text
utils/start-stop-daemon.8 -text
utils/start-stop-daemon.c -text
utils/update-license-text.sh -text
utils/update-license.sh -text
utils/utf8map.pl -text
utils/vimrc -text
utils/wbmp.c -text
utils/wbmp.h -text
utils/win1257unicode.txt -text
wap/cookies.c -text
wap/cookies.h -text
wap/timers.c -text
wap/timers.h -text
wap/wap.c -text
wap/wap.h -text
wap/wap_addr.c -text
wap/wap_addr.h -text
wap/wap_events.c -text
wap/wap_events.def -text
wap/wap_events.h -text
wap/wsp.c -text
wap/wsp.h -text
wap/wsp_caps.c -text
wap/wsp_caps.h -text
wap/wsp_headers.c -text
wap/wsp_headers.h -text
wap/wsp_pdu.c -text
wap/wsp_pdu.def -text
wap/wsp_pdu.h -text
wap/wsp_push_client.c -text
wap/wsp_push_client.h -text
wap/wsp_push_client_machine.def -text
wap/wsp_push_client_states.def -text
wap/wsp_server_method_machine.def -text
wap/wsp_server_method_states.def -text
wap/wsp_server_push_machine.def -text
wap/wsp_server_push_states.def -text
wap/wsp_server_session_machine.def -text
wap/wsp_server_session_states.def -text
wap/wsp_session.c -text
wap/wsp_strings.c -text
wap/wsp_strings.def -text
wap/wsp_strings.h -text
wap/wsp_unit.c -text
wap/wtls-secmgr.c -text
wap/wtls.c -text
wap/wtls.h -text
wap/wtls_machine-decl.h -text
wap/wtls_pdu.c -text
wap/wtls_pdu.h -text
wap/wtls_pdusupport.c -text
wap/wtls_pdusupport.h -text
wap/wtls_state-decl.h -text
wap/wtls_statesupport.c -text
wap/wtls_statesupport.h -text
wap/wtp.c -text
wap/wtp.h -text
wap/wtp_init.c -text
wap/wtp_init.h -text
wap/wtp_init_machine.def -text
wap/wtp_init_states.def -text
wap/wtp_pack.c -text
wap/wtp_pack.h -text
wap/wtp_pdu.c -text
wap/wtp_pdu.def -text
wap/wtp_pdu.h -text
wap/wtp_resp.c -text
wap/wtp_resp.h -text
wap/wtp_resp_machine.def -text
wap/wtp_resp_states.def -text
wap/wtp_tid.c -text
wap/wtp_tid.h -text
wmlscript/lexer.txt -text
wmlscript/make-op-table.in -text
wmlscript/wmlsc.1 -text
wmlscript/wmlsc.c -text
wmlscript/wmlsdasm.1 -text
wmlscript/wmlsdasm.c -text
wmlscript/ws.c -text
wmlscript/ws.h -text
wmlscript/wsalloc.c -text
wmlscript/wsalloc.h -text
wmlscript/wsasm.c -text
wmlscript/wsasm.h -text
wmlscript/wsbc.c -text
wmlscript/wsbc.h -text
wmlscript/wsbuffer.c -text
wmlscript/wsbuffer.h -text
wmlscript/wsencode.c -text
wmlscript/wsencode.h -text
wmlscript/wserror.c -text
wmlscript/wserror.h -text
wmlscript/wsfalloc.c -text
wmlscript/wsfalloc.h -text
wmlscript/wsgram.c -text
wmlscript/wsgram.h -text
wmlscript/wsgram.y -text
wmlscript/wshash.c -text
wmlscript/wshash.h -text
wmlscript/wsieee754.c -text
wmlscript/wsieee754.h -text
wmlscript/wsint.h -text
wmlscript/wslexer.c -text
wmlscript/wsopcodes.h -text
wmlscript/wsopt.c -text
wmlscript/wsopt.h -text
wmlscript/wsstdlib.c -text
wmlscript/wsstdlib.h -text
wmlscript/wsstream.c -text
wmlscript/wsstream.h -text
wmlscript/wsstream_data.c -text
wmlscript/wsstream_file.c -text
wmlscript/wsstree.c -text
wmlscript/wsstree.h -text
wmlscript/wsutf8.c -text
wmlscript/wsutf8.h -text
